<div class="form-group">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <label class="col-md-12 col-lg-12 file-label" for="<%= id %>">
                    <span class="button-icon ion-ios-cloud-upload-outline"></span>
                    <span class="button-labeltext"><%= label %></span>
                </label>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="<%= type %>" id="<%= id %>" name="<%= id %>" max-file-size="<%= filesize %>" class="file-input file">
                    <label class="file-name"></label>
                </div>
            </div>
        </div>
    </div>
</div>
