<!-- Multiple Radios -->
<div class="form-group <% if(required) {%> required-control <% } %>">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <% if(label.length > 0) { %><label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="<%= id %>"><%= label %> </label> <% } %>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <% _.each(radios, function(radio, i){ %>
                <span class="radio">
                    <input type="<%= type %>" name="<%= id %>" id="<%= id+'-'+i %>" value="<%= radio %>" <% if (required && i < 1) { %> required <% } %>>
                    <label class="radiolabel" for="<%= id+'-'+i %>"><%= radio %></label>
                </span>
                <% }); %>
                <% if(other){ %>
                    <span class="radio">
                        <input type="<%= type %>" name="<%= id %>" id="<%= id+'-'%>other" value="" <% if (required) { %> required<% } %>>
                        <label class="radiolabel" for="<%= id+'-'%>other">Other</label>
                    </span>
                    <div class="<%= inputsize %> other">
                        <input type="text" id="<%= id+'-'%>otherinput" name="<%= id+'-'%>otherinput" class="form-control <%= inputheight %> "/>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <% if(helptext.length > 0) { %><span class="help-block"><%= helptext %></span><% } %>
            </div>
        </div>
    </div>
</div>
