<!-- Prepended checkbox -->
<div class="form-group<% if(required) {%> required-control<% } %>">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <% if(label.length > 0) { %>
                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="<%= id %>"><%= label %></label>
            <% } %>
        </div>
        <div class="row">
            <div class="<%= inputsize %>">
                <div class="input-group">
                    <span class="input-group-addon checktext-group <%= inputheight %>">
                        <span class="checkbox-pend">
                            <input type="checkbox" name="<%= id %>-cbpp" id="<%= id %>-cbpp" <% if (checked){ %>checked="checked"<% } %>>
                            <label class="checkboxlabel" for="<%= id %>-cbpp"></label>
                        </span>
                    </span>
                    <input id="<%= id %>" name="<%= id %>" type="<%= type %>" <% if(type=="text" ) {%>placeholder="<%= placeholder %>"<% } %> class="form-control <%= inputheight %>"<% if(required) {%> required<% } %> />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <% if(helptext.length > 0) { %><span class="help-block"><%= helptext %></span><% } %>
            </div>
        </div>
    </div>
</div>
