-
@{
    ViewBag.Title = "LayoutMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav>
    <a href="/"><img src="~/Content/images/fiservLogo.png" /></a>
    <a href="/">Home</a>
    <a href="/">Home</a>
    <a href="/">Home</a>
    <a href="/">Home</a>
</nav>
<h2>View</h2>
@RenderBody()