@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <a href="/" id="logo"><img src="~/Content/images/fiservLogo.png" /></a>
@*    <nav>
        <a href="/">Dashboard</a>
        <a href="/">Forms</a>
    </nav>*@
</header>
<div>
    @RenderBody()
</div>