@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a href="/"><img src="~/Content/images/fiservLogo.png" /></a>
    <nav>
        <a href="/">HTML</a> |
        <a href="/">CSS</a> |
        <a href="/">JavaScript</a> |
        <a href="/">jQuery</a>
    </nav>
</div>
<div>
    @RenderBody()
</div>