@{
    //ViewBag.Title = "LayoutMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav>
    <a href="/">HTML</a> |
    <a href="/">CSS</a> |
    <a href="/">JavaScript</a> |
    <a href="/">jQuery</a>
</nav>
<div>
    @RenderBody()
</div>