<!-- Multiple Checkboxes -->
<div class="form-group <% if(required) {%> required-control <% } %>">
    <div class="col-md-12">
        <div class="row">
            <% if(label.length > 0) { %> <label class="col-md-12" for="<%= id %>"> <%= label %> </label> <% } %>
        </div>
        <div class="row">
            <div class="col-md-12">
                <% _.each(checkboxes, function(checkbox, i){ %>
                    <div class="checkbox">
                        <label for="<%= id+'-'+i %>">
                            <input type="checkbox" name="<%= id %>" id="<%= id+'-'+i %>" value="<%= checkbox %>" <% if (required && i < 1) { %> required<% } %>><%= checkbox %>
                        </label>
                    </div>
                <% }); %>
                <% if(other){ %>
                    <div class="checkbox">
                        <label for="<%= id+'-'%>other">
                            <input type="checkbox" name="<%= id %>" id="<%= id+'-'%>other" value="" <% if (required) { %> required<% } %>>Other<br/>
                        </label>
                    </div>
                    <div class="<%= inputsize %> other">
                        <input type="text" id="<%= id+'-'%>otherinput" name="<%= id+'-'%>otherinput" class="form-control <%= inputheight %> "/>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <% if(helptext.length > 0) { %><span class="help-block"><%= helptext %></span><% } %>
            </div>
        </div>
    </div>
</div>
