<!-- Select Multiple -->
<div class="form-group <% if(required) {%> required-control <% } %>">
    <div class="col-md-12">
        <div class="row">
            <% if(label.length > 0) { %><label class="col-md-12" for="<%= id %>"><%= label %></label><% } %>
        </div>
        <div class="row">
            <div class="<%= inputsize %>">
                <select id="<%= id %>" name="<%= id %>" class="form-control <%= inputheight %>" <% if(required) {%> required<% } %> multiple="multiple"><% _.each(options, function(option) { %><option><%= option %></option><% }); %></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <% if(helptext.length > 0) { %><span class="help-block"><%= helptext %></span><% } %>
            </div>
        </div>
    </div>
</div>
