<!-- Selfie Button -->
<!-- File Button -->
<div class="form-group">
    <div class="col-md-12">
        <div class="row">
            <% if(label.length > 0) { %><label class="col-md-12 selfie-label" for="<%= id %>"><%= label %></label><% } %>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="file" id="<%= id %>" name="<%= id %>" data-maxfile="<%= filesize %>" class="selfie-input">
                <button class="browse btn btn-primary selfie-button" type="button">
                    <% if(buttontext.length > 0) { %> <%= buttontext %> <% } %>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <% if(helptext.length > 0) { %><span class="help-block"><%= helptext %></span><% } %>
            </div>
        </div>
    </div>
</div>
<script>
    $('.browse').on('click', '.selfie-button', function(){
      var file = $(this).parent().parent().parent().find('.selfie-input');
      file.trigger('click');
    });
    $('.selfie-button').on('change', '.selfie-input', function(){
      $(this).parent().find('.selfie-button').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
</script>
