@{
    Page.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<table align="center" border="0" cellpadding="0" cellspacing="0" id="ribbontable">
    <tr>
        <td>
            <div id="wizard" class="swMain">
                <ul>
                    <li>
                        <a href="#step-1">
                            @*<label class="stepNumber">1</label>*@
                            <div class="stepDesc">1</div>
                            @*<small>Name</small>*@
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            @*<label class="stepNumber">2</label>*@
                            <div class="stepDesc">2</div>
                            @*<small>Actions</small>*@
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            @*<label class="stepNumber">3</label>*@
                            <div class="stepDesc">3</div>
                            @*<small>Builder</small>*@
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            @*<label class="stepNumber">4</label>*@
                            <div class="stepDesc">4</div>
                            @*<small>Actions</small>*@
                        </a>
                    </li>
                </ul>

                <div id="step-1">
                    <h2 class="StepTitle">Enter form name</h2>
                    <form action="demo_form.asp">
                        <input type="text" name="fname"><br>
                    </form>
                </div>

                <div id="step-2">
                    <h2 class="StepTitle">Before actions</h2>
                </div>

                <div id="step-3">
                    <h2 class="StepTitle">Form builder</h2>

                    
                        <link href="Plugin/FormBuilder/assests/css/lib/bootstrap.min.css" rel="stylesheet">
                        <link href="Plugin/FormBuilder/assests/css/lib/bootstrap-responsive.min.css" rel="stylesheet">
                        <link href="Plugin/FormBuilder/assests/css/custom.css" rel="stylesheet">
                        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

                        <link rel="shortcut icon" href="images/favicon.ico">
                        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
                        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
                        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">



                       
                        <div class="navbar navbar-fixed-top">
                            <div class="navbar-inner">
                      </div>
                        </div>
                        <div class="container">
                                   <div class="container">
                                    <a class="brand" href="#">Bootstrap 2 Form Builder</a>
                                </div>
                               <div class="row clearfix" >
                                <!-- Building Form. -->
                                <div class="span6">
                                    <div class="clearfix">
                                        <h2>Your Form</h2>
                                        <hr>
                                        <div id="build">
                                            <form id="target" class="form-horizontal"></form>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Building Form. -->
                                <!-- Components -->
                                <div class="span6">
                                    <h2>Drag & Drop components</h2>
                                    <hr>
                                    <div class="tabbable">
                                        <ul class="nav nav-tabs" id="formtabs">
                                            <!-- Tab nav -->
                                        </ul>
                                        <form class="form-horizontal" id="components">
                                            <fieldset>
                                                <div class="tab-content">
                                                    <!-- Tabs of snippets go here -->
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <!-- / Components -->

                            </div>

                            <div class="row clearfix">
                                <div class="span12">
                                    <hr>

                                </div>
                            </div>

                        </div> <!-- /container -->

                        <script data-main="Plugin/FormBuilder/assests/js/main-built.js" src="Plugin/FormBuilder/assests/js/lib/require.js"></script>
                    
                </div>

                <div id="step-4">
                    <h2 class="StepTitle">After actions</h2>
                </div>
            </div>
        </td>
    </tr>
</table>
