@{
    Page.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<table align="center" border="0" cellpadding="0" cellspacing="0" id="ribbontable">
    <tr>
        <td>
            <div id="wizard" class="swMain">
                <ul>
                    <li>
                        <a href="#step-1">1</a>
                    </li>
                    <li>
                        <a href="#step-2">2</a>
                    </li>
                    <li>
                        <a href="#step-3">3</a>
                    </li>
                    <li>
                        <a href="#step-4">4</a>
                    </li>
                </ul>

                <div id="step-1">
                    <h2 class="StepTitle">Form Name</h2>
                    <form id="nameField" action="demo_form.asp">
                        <input type="text" maxlength="45" onkeyup="validatephone(this);" name="fname" required><br>

                    </form>
                </div>

                <div id="step-2">
                    <h2 class="StepTitle">Before actions</h2>
                </div>

                <div id="step-3">
                    <h2 class="StepTitle">Form builder</h2>
                </div>

                <div id="step-4">
                    <h2 class="StepTitle">After actions</h2>
                </div>
            </div>
        </td>
    </tr>
</table>