.formIndexItem {
    border: 1px solid orange;
    padding: 15px;
}

    .formIndexItem h1 {
        margin: 0 !important;
        font-weight: 300;
    }

    .formIndexItem h6 {
        font-weight: 400;
    }

    .formIndexItem .dataButtons a,
    .formIndexItem .formButtons a {
        display: inline-block;
        font-weight: 100;
        border: solid 1px #ff6200;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        background-color: white;
    }

    .formIndexItem .formButtons a {
        float: right;
        
vertical-align: bottom;
    }

    .formIndexItem .dataButtons a,
    .formIndexItem .dataButtons a:active {
        margin-right: 20px;
    }

        .formIndexItem .dataButtons a span,
        .formIndexItem .formButtons a span,
        .formIndexItem .dataButtons a span:before,
        .formIndexItem .formButtons a span:before {
            display: block;
            text-align: center;
            line-height: 50px;
            font-size: 30px;
            color: #ff6200;
        }

        .formIndexItem .dataButtons a:active,
        .formIndexItem .formButtons a:active,
        .formIndexItem .dataButtons a:hover,
        .formIndexItem .formButtons a:hover,
        .formIndexItem .dataButtons a:focus,
        .formIndexItem .formButtons a:focus,
        .formIndexItem .dataButtons a:visited,
        .formIndexItem .formButtons a:visited {
            text-decoration: none;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

.formActionsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .formActionsList li {
        display: inline;
        font-size: 30px;
    }

.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

    .modal-content .modal-header h3 {
        color: #ff6200;
        font-weight: 300;
    }

    .modal-content .modal-header .close {
        font-size: 30px;
    }

    .modal-content .modal-body p {
        font-weight: 200;
        font-size: 20px;
        line-height: 20px;
        margin: 0;
    }

    .modal-content .modal-footer {
        margin: 0;
    }

        .modal-content .modal-footer a,
        .modal-content .modal-footer button {
            display: inline-block;
            font-weight: 100;
            border: solid 1px #ff6200;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            padding: 0;
            background-color: white;
        }

        .modal-content .modal-footer a {
            float: left;
            margin-left: 15%;
        }

        .modal-content .modal-footer button {
            float: right;
            margin-right: 15%;
        }

            .modal-content .modal-footer a span,
            .modal-content .modal-footer button span,
            .modal-footer a span:before,
            .modal-footer button span:before {
                display: block;
                text-align: center;
                line-height: 49px;
                font-size: 49px;
                color: #ff6200;
            }

            .modal-content .modal-footer a:active,
            .modal-content .modal-footer button:active,
            .modal-content .modal-footer a:hover,
            .modal-content .modal-footer button:hover,
            .modal-content .modal-footer a:focus,
            .modal-content .modal-footer button:focus,
            .modal-content .modal-footer a:visited,
            .modal-content .modal-footer button:visited {
                text-decoration: none;
                outline: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
