#linkedinbutton {
    text-align:center;
}
.next span {
    margin-left: 4px;
}
.previous  span {
    margin-left: -4px;
}
#submit span::before {
    font-size:60px;
}
fieldset {
    -webkit-box-shadow: 0 3px 7px #999;
    padding-bottom: 15px!important;
}
ul.errorMessages {
    border-style:solid;
    border-color: #ff6200;
    border-width: 2px 1px;
    margin-bottom:0;
    list-style:none;
    background-color: rgba(255, 98, 0, 1);
    padding:0 10px
}
ul.errorMessages li{
    color:white;
    line-height:30px;
    font-size:15px;
    font-weight:300;
}