#linkedinbutton {
    text-align:center;
}
#submit{
    margin-right:15px;
}
.next span {
    margin-left: 4px;
}
.previous  span {
    margin-left: -4px;
}
#submit span::before {
    font-size:60px;
}
fieldset {
    -webkit-box-shadow: 0 3px 7px #999;
    padding-bottom: 15px!important;
}
