/* CSS Document */
/* CSS RESET DONEDONEDONEDONEDONEDONEDONEDONE*/
.disable {
    pointer-events: none;
    cursor: default;
}

.previous img{
    height:40px;
    width:40px;
    margin: 5px 0px 5px 7px;
}