@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Admin Home</h1>
<p align="center">
    <a href="/Home/Index">Form Builder</a><br />
    <a href="/User/ChangePassword">Change Password</a><br />
    <a href="/User/Logout">Logout</a><br />
</p>


