

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@using careersfair.Models
@functions{

}
<!DOCTYPE html>

<html>

<head>
  

    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
</head>
<body>

    <div>
            @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post)) { 
            <input type="submit" id="btnSend" value="Send" />
            }
            <input type="submit" value="Reset Password" onclick="GetName()" />


</div>

</body>
</html>
