@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@using careersfair.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Password Reset Sucessful</title>
</head>
<body>
    <div>
    <h2>Your Password has been Reset. Please Check your email</h2>
    </div>
</body>
</html>
