@{
    ViewBag.Title = "Password Change Successful";
}
<meta http-equiv="Refresh" content="5; url= /User/Login" />
<h1>Your Password has been changed successfully! You will be Redirected shortly.</h1>