@model careersfair.Models.Form
<div class="modal-header">

    <a class="close" data-dismiss="modal" aria-hidden="true">
        <span class="ion-ios-close-empty"></span>
    </a>
    <h2 class="modal-title">Delete Form</h2>
</div>
<div class="modal-body">
    <p>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</p>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <a class="btn" data-dismiss="modal">
                <span class="ion-ios-close-empty"></span>
            </a>
            <button class="btn" type="submit" value="Yes">
                <span class="ion-ios-checkmark-empty"></span>
            </button>
        </div>
    }
</div>